.owl-carousel .item {
    height: 10rem;
    background: #FFFFFF;
    padding: 1rem;
}

 .owl-carousel .item h4 {
     z-index: 1;
    color: #FFF;
    font-weight: 400;
    margin-top: 0;
}
 .owl-carousel .item img {
     width: 100%;
 }
h4 {
    font-size: 1.125rem;
}