@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    display: block;
}

.site-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.box {
    padding: 10px 10px 0 15px;
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 5px;
}

#form-sign-up .input {
    width: 100%;
    height: 40px;
    text-align: left;
    color: #f3c82f;
    text-decoration: underline yellow;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(88, 88, 88, 1);
    margin-bottom: 10px;
    padding: 6px 0 0 0;
    box-shadow: 0 5px rgba(104, 104, 104, 0.9);

}

#form-sign-up .input::placeholder {
    font-size: 1.65em;
    color: #f3c82f;
    text-decoration-color: #f3c82f;
}

#form-sign-up .input:hover, .input:focus {
    box-shadow: 0 5px #f3c82f;
}

#form-sign-up .libelle {
    text-align: left;
    color: #f3c82f;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 400;
}

#input_submit {
    width: 130px;
    height: 45px;
    text-align: center;
    color: #000000;
    border: none;
    border-radius: 4px;
    background-color: #f3c82f;
    padding: 6px 0 0 0;
    font-size: 1.55em;
    transition-duration: 0.4s;
    margin-bottom: 15px;
}

#input_submit:hover {
    color: #d3911f;
}

#cmd_box {
    text-align: right;
    background-size: 100%;
    padding: 10px 10px 0 15px;
}

@media screen and (max-width: 700px) {
    .box {
        padding: 5px;
    }

    .site-content {
        width: 100%;
        margin-top: 5%;
    }
}