@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0 auto;
}

h1 {
    margin: 10px 0 0 0;
}

label {
    color: #f3c82f;
}

canvas {
    margin: 10px;
    width: 205%;
    height: auto;
}

.filters button {
    margin: 10px;
    border-radius: 5px;
    background-color: #f3c82f;
    color: black;
    width: 14.2%;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

input[type="range"] {
    margin: 0 0 10px 0;
}

.p {
    padding-top: 50px;
    clear: both;
}

.back {
    content: "";
    clear: both;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;

}

.box-slider {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#hue, #contrast, #vibrance, #sepia {
    width: 100%;
}

.nbr_cmd {
    color: #f3c82f;
    border-color: black;
    border-radius: 4px;
    background-color: #404040;
    font-size: 1.8em;
    margin: 17px 15px 10px 10px;
    padding: 7px;
}

.cmd {
    width: 100%;
    text-align: right;
}

.CartePostale {
    width: 100%;
}

.text {
    color: #f3c82f;
    font-size: 2.5em;
}

.Box_share {
    text-align: center;
    background-color: #303030;
    border-radius: 4px;
    /*display: flex;*/
    flex-wrap: nowrap;

}

#cmd {
    font-size: 1.65em;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 5px 10px 10px 5px;
    background-color: #f3c82f;
    margin-left: -4px;
    border-radius: 4px;
    transition-duration: 0.4s;
    height: 50px;
    margin-top: 20px;
}

#cmd::placeholder {
    font-size: 1.65em;
    color: #f3c82f;
}

#cmd:hover {
    color: #d3911f;
}

.div_cmd {
    margin-top: 20px;
}

.icone {
    margin: 20px 30px 30px 30px;
    width: 60px;
    height: 60px;
}

#Message {
    width: 95%;
    margin-left: 2%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #303030;
    height: 80%;
    font-size: 1.65em;
    color: #f3c82f;
}

#Message::placeholder {
    font-size: 1.65em;
    color: #f3c82f;
}

#btn_submit {
    margin-right: 14px;
    font-size: 1.65em;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 7px 10px 14px 10px;
    background-color: #f3c82f;
    border: none;
    border-radius: 4px;
    float: right;
    margin-top: 15px;
}

.other_img {
    /*width: 95%;*/
    display: inline-flex;
    overflow-x: scroll;
}

.img {
    width: 18%;
    height: 18%;
    margin-right: 10px;
    margin-left: 10px;
}

.text-area {
    background-color: #505050;
    height: 55%;
}

.text-area::placeholder {
    color: #808080;
    opacity: 1;
}

@media screen and (max-width: 700px) {
    canvas {
        width: 100%;
        height: auto;
    }

    .icone {
        margin: 20px 20px 30px 30px;
        width: 20px;
        height: 20px;
    }

    .mobile {
        height: 100%;
    }

    .filters {
        visibility: hidden;
        height: 0;
        display: block;
    }

    .filters button {
        /*visibility: hidden;*/
        height: 60px;
        width: 35%;
        /*display:block ;*/
    }

    .best_filters {
        visibility: visible;
        height: auto;
    }
}
