@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-content {
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 15px
}

@media screen and (max-width: 700px) {
    .container {
        width: 95%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}