@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-content {
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

p {
    font-size: 1em;
    line-height: 1.25em;
}

.ico_trash {
    width: 35px;
}

.format_img {
    width: 150px;

}

#th_trash, #td_trash {
    width: 40px;
}

.box_total {
    width: 100%;
    float: right;
}

.table_total {
    margin-left: auto;
    width: 25%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.td_total {
    width: 100%;
    border: none;
}

#form-panier {
    width: 100%;
}

#form-panier input[type="submit"] {
    margin-left: 70%;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    outline: 0;
    background-color: #f3c82f;
    width: 20%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    .container {
        width: 95%;
    }

    .table_panier {
        width: 98%;
    }

    #form-panier input[type="submit"] {
        margin-left: 0;
        margin-bottom: 15px;
        width: 100%;
    }

    .table_total {
        margin-left: auto;
        width: 55%;
        margin-right: 1%;
        border-collapse: collapse;
    }
}