@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol, ul {
    /*list-style:none;*/
    list-style-image: none;
    list-style-position: outside;
}

img {
    border: none;
    max-width: 100%;
}

a img {
    border: none;
}

p {
    margin: 0 0 10px;
}

#header-profil h1 {
    /*margin:30px 0 0;*/
}

#header-profil h1 a {
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
}

#header-profil h1 a:hover {
    color: #00aba9;
    text-decoration: none;
}

#header-profil h2 {
    color: #333;
    font-size: 22px;
    margin: 10px 0 0;
}

h3 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 20px;
}

/* 8 Column Grid
-----------------------------------------------------------------------------

Span 1:    9.875%
Span 2:    22.75%
Span 3:    35.625%
Span 4:    48.5%
Span 5:    61.375%
Span 6:    74.25%
Span 7:    87.125%
Span 8:    100%

----------------------------------------------------------------------------- */

.column {
    margin-left: 3%;
    padding: 0;
    float: left;
}

.column:first-child {
    margin-left: 0;
}

.col1 {
    width: 9.875%;
}

.col2 {
    width: 22.75%;
}

.col3 {
    width: 35.625%;
}

.col4 {
    width: 48.5%;
}

.col5 {
    width: 61.375%;
}

.col6 {
    width: 74.25%;
}

.col7 {
    width: 87.125%;
}

.col8 {
    margin-left: 0;
    width: 100%;
}

.pl-50 {
    padding-left: 50px;
}

.pl-30 {
    padding-left: 30px;
}

#mainwrap {
    overflow: hidden;
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 15px;
}

#content {
    height: 400px;
    overflow: hidden;
    position: relative;
}

#pagecontainer {
    position: relative;
    width: 9999px;
}

.section {
    float: left;
    height: 400px;
    margin-right: 50px;
    position: relative;
    width: 100%;
    padding: 30px;
    overflow: hidden;
}

#page1 {
    background-color: #343434;
    /*overflow-y:scroll;*/
}

#page2 {
    background-color: #444444;
    /*overflow-y:scroll;*/
}

#page3 {
    background-color: #545454;
    /*overflow-y:scroll;*/
}

#menu {
    margin-top: 70px;
    overflow: hidden;
}

#menu li {
    display: block;
    float: left;
    width: 32.666%;
    margin-left: 1%;
    position: relative;
}

#menu li:first-child {
    margin-left: 0;
}

#menu li a {
    display: block;
    height: 42px;
    line-height: 42px;
    color: #333;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    background-color: #f3c82f;
}

#menu li span {
    display: none;
}

#menu li.active span {
    display: block;
    position: absolute;
    bottom: 2px;
    width: 100%;
    text-align: center;
    line-height: 14px;
}

#menu li.active a {
    line-height: 43px;
    height: 62px;
    margin-top: 0;
    color: #ffffff;
}

#menu li.active a.page1 {
    background-color: #00aba9;
}

#menu li.active a.page2 {
    background-color: #76608a;
}

#menu li.active a.page3 {
    background-color: #f0a30a;
}

#menu li a:hover {
    text-decoration: none;
    background-image: none;
}

#menu li.active a {
    text-decoration: none;
}

.social {
    overflow: hidden;
    padding: 0;
    margin: 20px 0 0;
}

.social li {
    display: block;
    float: left;
    height: 36px;
    width: 36px;
    margin: 0 10px 10px 0;
    opacity: 0.5
}

#cv {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

#cv .date {
    position: relative;
    padding: 10px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
}

/* creates triangle */
#cv .date:after {
    content: "";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    right: -10px;
    top: 50%;
    width: 0;
    border-width: 10px 0 10px 10px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.5);
    margin-top: -10px;
}

#cv .company {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

#cv .title {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#cv .description {
    font-size: 15px;
    margin: 10px 0 30px;
    padding: 0;
}

#contactform label {
    width: 100%;
    display: block;
}

#contactform input,
#contactform textarea {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
}

#contactform input.button {
    background-color: #fa6800;
    padding: 10px;
    width: auto;
    float: right;
    cursor: pointer;
}

#footer {
    color: #999;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    margin-top: -2px;
}

#footer a {
    color: #999;
}

.text {
    color: #f3c82f;
}

.text_select {
    color: #000000;
    background-color: #f3c82f;
    width: 25%;
}

#search_box {
    background-color: #f3c82f;
    width: 25%;
}

#search_box:hover {
    color: #000000;
}

.text_ban {
    font-size: 1.65em;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background-color: #f3c82f;
    margin-left: -4px;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin: 10px;
}

.text_ban:hover {
    color: #d3911f;
}

.img {
    width: 100%;
    /*float: right;*/
}

.div_gauche {
    float: left;
    width: 50%;
}

.div_droite {
    float: right;
    width: 50%;
}

.search_box_com {
    font-size: 1.1em;
    width: 40%;
    /*height:50px;*/
    text-align: center;
    color: #f3c82f;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    /*padding: 6px 0 0 0;*/
}

.search_box_com::placeholder {
    font-size: 1.15em;
    color: #f3c82f;
}

.search_com {
    font-size: 1.15em;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 0 10px 0 10px;
    background-color: #f3c82f;
    margin-left: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition-duration: 0.4s;
}

.search_com_list {
    font-size: 1.15em;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 0 10px 0 10px;
    background-color: #f3c82f;
    margin-left: -4px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.search_com:hover {
    color: #d3911f;
}

.box_com {
    margin: 10px;
}

@media screen and (max-width: 850px) {
    #mainwrap {
        width: 95%;
    }

    #content,
    .section {
        height: auto;
    }
}

@media screen and (max-width: 479px) {
    .section {
        padding: 15px;
    }

    .column {
        margin-left: 0;
        padding: 0;
        float: none;
    }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6,
    .col7,
    .col8 {
        margin-left: 0;
        width: 100%;
    }

    #cv .col2 {
        width: 22.75% !important;
        max-width: 100px !important;
    }

    #cv .col6 {
        width: auto !important;
    }

    #menu li.active span {
        display: none;
    }
}