@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    display: block;
}

.site-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.box {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
}

#titre {
    color: #f3c82f;
}

@media screen and (max-width: 700px) {
    .site-content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .box {
        width: 100%;
        background-color: white;
        border-radius: 5px;
        padding: 25px;
    }
}