@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-size: 30px;
    text-align: left;
    color: #f3c82f;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 400;
}

div {
    display: block;
}

.site-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.box {
    padding: 10px 10px 0 15px;
    text-align: left;
    width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;

}

.input_black {
    width: 100%;
    height: 20px;
    text-align: left;
    color: #f3c82f;
    text-decoration: yellow;
    border-style: none;
    background-color: rgba(88, 88, 88, 1);
    margin-top: 20px;
    padding: 6px 0 0 0;
    box-shadow: 0 5px rgba(104, 104, 104, 0.9);

}

.input_black::placeholder {
    font-size: 1em;
    text-decoration-color: #272727;
}

.input_black:hover, .input_black:focus {
    box-shadow: 0 5px #f3c82f;
}

input[type="submit"], .find {
    /*width: 35%;*/
    text-align: center;
    color: #000000;
    border: none;
    background-color: #f3c82f;
    padding: 10px;
    margin-top: 25px;
    font-size: 1.55em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.libelle {
    text-align: left;
    color: black;
    margin-top: 20px;
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    .site-content {
        width: 98%;
    }

    .box {
        margin-right: auto;
        margin-left: auto;
        width: 95%;
        margin-top: 45%;
    }

    input[type="submit"], .find {
        width: 100%;
    }

    .libelle {
        font-weight: 300;
        font-size: 0.8em;
    }

    h2 {
        font-size: 20px;
    }
}