/*    Reset Default Foundation Styling    */

.row {
    max-width: 1140px;
    padding: 0 20px;
}

.top-bar .toggle-topbar.menu-icon a span::after {
    right: 0;
}

.top-bar .toggle-topbar.menu-icon a {
    padding: 0 2rem 0 0.9375rem;
}

.top-bar,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section ul li,
.top-bar.expanded .title-area,
.no-js .top-bar-section ul li:hover > a {
    background: transparent;
    height: auto;
    line-height: normal;
    padding: 0;
    /*01 03 2018 MD*/
    z-index: 5000;
}

.top-bar .name,
.top-bar .name h1,
.top-bar .name h2,
.top-bar .name h3,
.top-bar .name h4,
.top-bar .name span,
.top-bar .name p {
    line-height: normal;
    height: auto;
    font-size: 1.3rem;
}

.top-bar .toggle-topbar.menu-icon a {
    color: black;
}

.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px black, 0 7px 0 1px black, 0 14px 0 1px black;
}

.top-bar.expanded .toggle-topbar a {
    color: #d3911f;
}

.top-bar.expanded .toggle-topbar a span::after {
    box-shadow: 0 0 0 1px #d3911f, 0 7px 0 1px #d3911f, 0 14px 0 1px #d3911f;
}

/*    Header    */

header {
    width: 100%;
    height: 60px;
    background: #f3c82f;
}

#logo-navbar {
    display: block;
    width: 45px;
    height: 45px;
    background: url('/img/logo_transparent.png') no-repeat;
    background-size: 100% 100%;
}

#logo-navbar:hover {
    background: url('/img/logo_transparent_hover.png') no-repeat;
    background-size: 100% 100%;
}

header nav {
    margin-top: 5px;
}

header .top-bar-section ul li a {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: .5px;
    margin-top: 15px;
}

header .top-bar-section ul li:last-child a {
    margin-right: 0;
}

header .top-bar-section li:not(.has-form) a:not(.button) {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

header .top-bar-section li:not(.has-form) a:not(.button):hover {
    color: #d3911f;
}

/*navbar user connecté*/
header .top-bar-section li:not(.has-form) a:not(.button):hover {
    color: #d3911f;
    background: #f3c82f;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    color: black;
    background: #f3c82f;
    margin: 0;
    min-width: 250px;
    min-height: 60px;
    padding: 20px;
    text-align: center;
    border-bottom: solid 1px;
    border-bottom-color: #272727;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
    background: #f3c82f;
    color: #d3911f;
}

.top-bar-section .dropdown li {
    margin: 0;
}

.top-bar-section .dropdown li .js-generated {
    display: none !important;
    visibility: hidden;

}

@media only screen and (max-width: 40em) {
    .top-bar .top-bar-section {
        display: none;
    }

    .top-bar.expanded .top-bar-section {
        display: block;
    }

    .top-bar-section ul {
        margin-top: 20px;
        background: #f3c82f;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        color: #454545;
        margin: 0;
        display: block;
        text-align: center;
        padding: 20px 0;
        background: #f3c82f;
        border-bottom: 2px solid #272727;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }

    header .top-bar-section li:not(.has-form):last-child a:not(.button) {
        border: 0;
    }

    header .top-bar-section li:not(.has-form) a:not(.button):hover {
        color: #d3911f;
        background: #d3911f;
        padding: 20px 0;
    }
}
