@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    margin: 0;
    background-color: black;
    background-image: url("/img/fond_site.png");
    background-repeat: repeat;
    font-family: "Open Sans", sans-serif;
}

div {
    display: block;
}

#box {
    padding: 45px;
    text-align: center;
    background-size: 100%;
    margin-top: 12%;
}

#box-form {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#form-recherche {
    display: flex;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

#search_box {
    font-size: 1.3em;
    width: 80%;
    height: 50px;
    text-align: center;
    color: #f3c82f;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px 0 0 0;
    min-width: 350px;
}

#search {
    font-size: 1.65em;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 5px 10px 10px 5px;
    background-color: #f3c82f;
    margin-left: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition-duration: 0.4s;
    height: 50px;
}

#search_box::placeholder {
    font-size: 1.65em;
    color: #f3c82f;
}

#search:hover {
    color: #d3911f;
}

.site-content {
    padding-top: 66px;
}

@media screen and (max-width: 1000px) {
    #box {
        padding: 5px;
        text-align: center;
        background-size: 100%;
        margin-top: 12%;
    }

    #box-form {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    #form-recherche {
        display: inherit;
        width: 65%;
        margin-right: auto;
        margin-left: auto;
    }

    #search_box {
        display: inherit;
        font-size: 1.3em;
        width: 100%;
        height: 50px;
        text-align: center;
        color: #f3c82f;
        border: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 6px 0 0 0;
        margin-bottom: 0;
        min-width: 0;
    }

    #search {
        display: inherit;
        font-size: 1.65em;
        text-align: center;
        color: black;
        text-decoration: none;
        padding: 5px;
        background-color: #f3c82f;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 0;
        transition-duration: 0.4s;
        margin-left: 0;
    }
}

@media screen and (max-width: 700px) {
    #box {
        padding: 5px;
        text-align: center;
        background-size: 100%;
        margin-top: 35%;
    }

    #box-form {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    #form-recherche {
        display: inherit;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }

    #search_box {
        display: inherit;
        font-size: 1.3em;
        width: 100%;
        height: 50px;
        text-align: center;
        color: #f3c82f;
        border: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 6px 0 0 0;
        margin-bottom: 0;
        min-width: 0;
    }

    #search {
        display: inherit;
        font-size: 1.65em;
        text-align: center;
        color: black;
        text-decoration: none;
        padding: 5px;
        background-color: #f3c82f;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 0;
        transition-duration: 0.4s;
        margin-left: 0;
    }
}
