@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    display: block;
}

.Header {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.panel_galerie {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.elements_galerie {
    max-width: 16%;
    overflow: hidden;
    max-height: 100px;
    display: inline-block;
}

.img_galerie {
    width: 100%;
    height: 100%;
}

#nbr_resultat {
    margin-left: 10px;
    font-size: 1.2em;
    color: #f3c82f;
}

#search {
    width: 50%;
    display: inline-block;
    margin-left: 20%;
}

#search_box {
    height: 30px;
    width: 100%;
    color: #f3c82f;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px 0 0 0;
}

#search_box::placeholder {
    font-size: 1.35em;
    color: #f3c82f;
    text-align: center;
}