@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-content {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.box {
    padding: 45px;
    text-align: center;
    background-size: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
    border-radius: 5px;
}

p {
    margin-bottom: 0.5em;
}

input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.input-and-info {
    margin: 0 0 0;
}

.separator {
    margin-top: 10px;
}

a {
    color: inherit;
}

a:hover, a:focus, a:active {
    color: inherit;
}

.info {
    -webkit-margin-before: 0;
    -webkit-margin-after: 1em;
    text-align: left;
    color: black;
    font-size: 0.85em;
    margin-bottom: 30px;
}

.left {
    text-align: left;
}

.postal-card {
    height: 45%;
    width: 45%;
}

input[type="submit"], .btn_submit {
    font-family: "Open Sans", sans-serif;
    outline: 0;
    background-color: #f3c82f;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.btn_submit:hover, .form .btn_submit:active, .form .btn_submit:focus {
    background-color: #d3911f;
}

/* =============================================================================
	Responsive
========================================================================== */
/* Large devices (large desktops, 1200px and Down) */
@media (max-width: 1200px) {
    .site-content {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }
}

/* Medium devices (desktops, 992px and Donw) */
@media (max-width: 992px) {
    .site-content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Small devices (tablets, 768px and Down) */
@media (max-width: 768px) {
    .site-content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Extra Small devices (tablets, 480px and Down) */
@media (max-width: 480px) {
    .site-content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}