.btn-block {
    display: block;
    margin-top: 1rem;
    width: 100%;
    background-color: #f3c82f;
    color: #222;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #f3c82f;
}

.btn-block.thin {
    font-size: .8rem;
    padding: .25rem;
    margin: .5rem auto;
}

.btn-block:hover {
    background-color: #d1a232;
}
