@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    background: #393939;
    background: -webkit-linear-gradient(right, #595959, #494949);
    background: -moz-linear-gradient(right, #595959, #494949);
    background: -o-linear-gradient(right, #595959, #494949);
    background: linear-gradient(to left, #595959, #494949);
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    display: block;
}

.site-content {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    padding: 45px;
    text-align: center;
    background-size: 100%;
    margin-top: 15%;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#form-sign-in .input {
    width: 100%;
    height: 40px;
    color: #f3c82f;
    text-decoration: underline yellow;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(88, 88, 88, 1);
    margin-bottom: 10px;
    padding: 6px 0 0 0;
    box-shadow: 0 5px rgba(104, 104, 104, 0.9);
    text-align: center;

}

#form-sign-in .input::placeholder {
    font-size: 1.5em;
    color: #f3c82f;
    text-decoration-color: #f3c82f;
    text-decoration: none;
}

#form-sign-in .input:hover, .input:focus {
    box-shadow: 0 5px #f3c82f;
}

#form-sign-in .input_yellow {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #000000;
    border: none;
    border-radius: 4px;
    background-color: #f3c82f;
    padding: 6px 0 0 0;
    font-size: 1.55em;
    transition-duration: 0.4s;
}

#form-sign-in.input_yellow:hover {
    color: #d3911f;
}

#find-psw {
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
    margin-bottom: 0;
}

#find-psw:hover {
    color: #d3911f;
}

@media screen and (max-width: 700px) {
    .box {
        padding: 5px;
    }

    .site-content {
        width: 100%;
        margin-top: 35%;
    }
}